@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Lexend", sans-serif !important;
  background-color: #fff6e9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.MuiDialogActions-root {
  display: none !important; /* Ẩn MuiDialogActions */
}
.MuiDayCalendar-weekDayLabel {
  color: #dfa128 !important; /* Đổi màu nhãn ngày trong tuần */
  font-size: 10px !important;
}

.MuiButtonBase-root.MuiPickersDay-root {
  color: #949ca9 !important;
  border-radius: 10px !important;
}
.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
  background-color: #dfa128 !important;
  border-radius: 10px !important;
  color: white !important;
}
.MuiDateCalendar-root {
  height: fit-content !important;
}
.MuiPickersSlideTransition-root {
  min-height: 192px !important;
}
